/*** Client Say ***/
#client-say {
  div {
    max-width: 335px;
    margin: auto;
    .heading {
      text-align: start;
      margin-bottom: 30px;

      h1 {
        margin-bottom: 10px;
      }
    }
    .slider-wrap {
      .client-img {
        max-width: 310px;
        
        img {
          max-width: 100%;
        }
      }
      .client-review {
        margin: 30px 0px;
        h5 {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 14px;
        }
      }
      .clients {
        width: 310px;

        img {
          width: 335px;
        }
      }
    }
  }
}

@include media($lg) {
  #client-say {
    div {
        max-width: initial;
      .heading {
        text-align: center;
        margin-bottom: 113px;

        h1 {
          margin-bottom: 17px;
        }
      }
      .slider-wrap {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-left: 107px;
        .client-img {
          max-width: 389px;
        }
        .client-review {
          margin-bottom: 0px;
          width: 412px;
          margin: 0px 42px 0px 67px;
          h5 {
            font-size: 24px;
            margin-bottom: 21px;
          }
        }
        .clients {
          width: 348px;
        }
      }
    }
  }
}
