/*** Header ***/
header {
  min-height: 100vh;
  .navber {
    padding: 20px 0px;

    .container {
      .nav-head {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        img {
          width: 80px;
        }
        button {
          span {
            font-size: 16px;
          }
        }
      }
      .link-wrap {
        display: none;
      }
    }
  }
  main {
    .container {
      .content {
        margin-top: 30px;
        p {
          padding: 25px 0px 20px 0px;
        }
      }
    }
    .main-img {
      max-width: 335px;
      margin: 40px auto 0px auto;

      img {
        width: 100%;
      }
    }
  }
}

@include media($lg) {
  header {
    min-height: 100vh;
    .navber {
      padding: 42px 0px 47px 0px;

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-head {
          img {
            width: 120px;
          }
          button {
            display: none;
          }
        }
        .link-wrap {
          display: block;

          ul {
            display: flex;
            align-items: center;
            column-gap: 60px;

            li a {
              font-size: 16px;
              color: black;
            }
          }
        }
      }
    }
    main {
      position: relative;
      .container {
        padding-top: 90px;
        .content {
          max-width: 471px;
          p {
            padding: 40px 0px 33px 0px;
          }
        }
      }
      .main-img {
        position: absolute;
        top: 0px;
        right: 0px;
        max-width: 754px;
        margin: 0px;
      }
    }
  }
}

/*** Our Client ***/
#our-client {
  margin-top: 30px;
  .container {
    display: flex;
    flex-flow: column wrap;
    row-gap: 30px;
    .content {
      padding-right: 80px;
      h1 {
        margin-bottom: 10px;
      }
    }
    .clients {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      column-gap: 50px;
      row-gap: 20px;
      .img-wrap {
        img {
          width: 100%;
        }
      }
      .img-wrap:nth-child(1) {
        width: 100px;
      }
      .img-wrap:nth-child(2) {
        width: 110px;
      }
      .img-wrap:nth-child(3) {
        width: 110px;
      }
      .img-wrap:nth-child(4) {
        width: 90px;
      }
    }
  }
}

@include media($lg) {
  #our-client {
    margin-top: 40px;
    .container {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      row-gap: 0px;
      .content {
        width: 320px;
        padding-right: 0px;
        h1 {
          margin-bottom: 17px;
        }
      }
      .clients {
        display: flex;
        flex-flow: row wrap;
        column-gap: 60px;
        row-gap: 0px;

        .img-wrap:nth-child(1) {
          width: 150px;
        }
        .img-wrap:nth-child(2) {
          width: 166px;
        }
        .img-wrap:nth-child(3) {
          width: 166px;
        }
        .img-wrap:nth-child(4) {
          width: 141px;
        }
      }
    }
  }
}
